<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Chat</title>
</head>

<body>
    <form action="/chat" method="post">
        <input type="text" name="from" id="" placeholder="from...">
        <br>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="message"></textarea>
        <br>
        <input type="text" name="to" id="" placeholder="to...">
        <button type="submit">Send</button>
    </form>
</body>

</html>