<nav class="navbar navbar-expand-md bg-body-tertiary h-7">
    <div class="container-fluid px-2">
        <i class="far fa-compass mx-3"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new?_method=GET">Add New Listing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/signup">Sign Up</a>
                    <% } %>
                        <% if (currUser) { %>
                            <a class="nav-link" href="/logout">Log Out</a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>