<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="new-add-section row col-8 mx-auto">
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" placeholder="Private Island Retreat" name="title" required>
                    <div class="invalid-feedback">
                        Enter enter title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description"
                        placeholder="Have an entire island to yourself for a truly exclusive and unforgettable vacation experience."
                        type="text" class="form-control" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Enter enter a short description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="listingImage" class="form-label">Image Upload</label>
                    <input type="file" class="form-control" name="listingImage" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" placeholder="₹29,999" name="price" required>
                    <div class="invalid-feedback">
                        Enter enter price/day.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" placeholder="Fiji" name="location" required>
                    <div class="invalid-feedback">
                        Enter enter location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" placeholder="Fiji" name="country" required>
                    <div class="invalid-feedback">
                        Enter enter country.
                    </div>
                </div>
                <button type="submit" class="btn-add btn btn-dark">Add</button>
            </form>
        </div>
    </body>