<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Post</title>
    <link rel="stylesheet" type="text/css" href="/new.css">
</head>

<body>
    <form action="/posts" method="post">
        <div class="username">
            <label for="username">username</label>
            <input type="text" name="username" id="username_">
        </div>
        <br>
        <div class="content">
            <label for="content">content</label>
            <textarea name="content" id="content_" cols="30" rows="5"></textarea>
        </div>
        <br>
        <button type="submit">Create Post</button>
    </form>
</body>

</html>