<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p>Post ID: <%= post["id"] %></p>
    <div class="post">
        <div class="username">@<%= post["username"] %>
        </div>
        <div class="content">
            <%= post["content"] %>
        </div>
    </div>
</body>
</html>